<div class = "container">
    <div class = "jumbotron">
        <h1 class="display-4"> Welcome to Burger-Your-Way </h1>
        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuwr8ijAVMqLEljqUUWRxkxRLniUGpWS9Bc2GjuQkgemQvFcLVyQ&s"
    </div>
</div>